image: Visual Studio 2017

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

install:
  - ps: Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Confirm:$false -Force -ErrorAction Stop
  - ps: Install-Module -Name Pester -Force
  - ps: Install-Module -Name PSScriptAnalyzer -Force

build: false

skip_commits:
  message: /^(?=.*update)(?=.*readme).*$/

version: '1.0.{build}'

test_script:
  - ps: . .\BuildAll.AppVeyor.ps1